@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
*, ::before, ::after {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  vertical-align: bottom;
}

button {
  cursor: pointer;
  padding: 0;
}

:disabled {
  cursor: not-allowed;
}

abbr[title] {
  cursor: help;
}

iframe {
  border: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  background-color: #B9B7B4 !important;
  font-family: "Poppins", Arial, sans-serif;
  background: #fff;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1rem;
}

[class^=col-] {
  flex: 1 0 auto;
  padding: 0 1rem;
}

.col-1 {
  flex-basis: 8.33%;
  max-width: 8.33%;
}

.col-2 {
  flex-basis: 16.66%;
  max-width: 16.66%;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-4 {
  flex-basis: 33.33%;
  max-width: 33.33%;
}

.col-5 {
  flex-basis: 41.66%;
  max-width: 41.66%;
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  flex-basis: 58.33%;
  max-width: 58.33%;
}

.col-8 {
  flex-basis: 66.66%;
  max-width: 66.66%;
}

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-10 {
  flex-basis: 83.33%;
  max-width: 83.33%;
}

.col-11 {
  flex-basis: 91.66%;
  max-width: 91.66%;
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.flex {
  display: flex;
}

.justify-right {
  justify-content: right;
}

.align-center {
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-pc-p {
  padding: 98px 0;
}

.wrap-1 {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}
.wrap-1 .header {
  text-align: center;
}
.wrap-1 .header .p-logo {
  display: flex;
  justify-content: left;
  align-items: center;
}
.wrap-1 .header .p-logo .logo a {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
}
.wrap-1 .header .p-logo .logo span {
  color: #d20f37;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}
.wrap-1 .header .nav {
  display: flex;
  justify-content: right;
}
.wrap-1 .header .collapse {
  align-items: right;
}
.wrap-1 .header .collapse nav ul li {
  position: relative;
}
.wrap-1 .header .collapse nav ul li .active {
  border-bottom: 3px solid #d20f37;
}
.wrap-1 .header .collapse nav ul li a {
  margin: 0 3px;
  padding: 28px 20px 25px 20px;
  font-family: sans-serif;
  font-weight: 700 !important;
  font-size: 14px;
  color: #000;
  transition: all 0.5s ease;
}
.wrap-1 .header .collapse nav ul li a::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #d20f37;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  transition: all 0.3s ease-in-out;
}
.wrap-1 .header .collapse nav ul li a:hover::after {
  width: 100%;
}

.hero-sec {
  background: url(../img/first-bg.webp) no-repeat;
  height: 650px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.hero-sec::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  background: #000000;
}
.hero-sec .hero-text {
  position: absolute;
  left: 5%;
  top: 20%;
}
.hero-sec .hero-text p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
.hero-sec .hero-text h1 {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  font-family: "Playfair Display", serif;
  line-height: 1.3;
  text-shadow: 0px 3px 25px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.hero-sec .hero-text a {
  border-radius: 4px;
  font-size: 12px;
  letter-spacing: 3px;
  font-family: sans-serif;
  text-align: center;
  font-weight: 300;
  transition: all 0.5s ease;
  padding: 12px 16px;
  cursor: pointer;
  transition: 0.3s all ease;
}
.hero-sec .hero-text a:hover {
  background-color: transparent !important;
}
.hero-sec .hero-text #pink {
  background: #d20f37;
  border: 1px solid #d20f37;
  color: #fff;
}
.hero-sec .hero-text #white {
  background: #fff;
  border: 1px solid #fff;
  color: #000000;
}

.wrap-3 {
  margin-top: -200px;
  position: relative;
  z-index: 2;
}
.wrap-3 .card {
  background: #fff;
  padding: 20px;
  box-shadow: 0px 10px 27px -9px rgba(0, 0, 0, 0.5);
}
.wrap-3 .card img {
  width: 100%;
  height: 200px;
  border-radius: 2px;
  object-fit: cover;
}
.wrap-3 .card .card-text {
  text-align: center;
  padding: 24px 16px;
}
.wrap-3 .card .card-text p {
  font-size: 10px;
  color: #000;
  margin-bottom: 16px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.wrap-3 .card .card-text a {
  font-size: 10px;
  font-family: sans-serif;
  background: #d20f37;
  border: 1px solid #d20f37;
  color: #fff;
  padding: 12px 16px;
  border-radius: 4px;
  box-shadow: none !important;
  letter-spacing: 3px;
  transition: all 0.4s ease;
}
.wrap-3 .card .card-text a:hover {
  font-weight: bold;
  background: transparent !important;
  color: #000000 !important;
}

.wrap-4 {
  background: #F3F4F7;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
}
.wrap-4 .container-fluid {
  width: 100%;
  height: 100%;
  margin: auto;
}
.wrap-4 .container-fluid .heading-2 {
  padding: 40px;
  margin-bottom: 30px;
}
.wrap-4 .container-fluid .heading-2 h2 {
  text-align: center;
  font-size: 54px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Playfair Display", serif !important;
}
.wrap-4 .container-fluid .full-width {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.wrap-4 .container-fluid .full-width .both-width {
  width: 25% !important;
  border-radius: 2px;
}
.wrap-4 .container-fluid .full-width .both-width img {
  width: 100%;
  height: 406.8px;
  object-fit: cover;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.wrap-4 .container-fluid .full-width #need-flex {
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  display: flex !important;
}
.wrap-4 .container-fluid .full-width #need-flex::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0.1;
  background: #000;
  z-index: -1;
}
.wrap-4 .container-fluid .full-width #need-flex .need-center {
  padding: 48px;
  width: 100%;
  text-align: center !important;
}
.wrap-4 .container-fluid .full-width #need-flex .need-center p {
  padding: 5px 0;
}
.wrap-4 .container-fluid .full-width #need-flex .need-center p span i {
  color: #d20f37;
  margin: 0 4px;
}
.wrap-4 .container-fluid .full-width #need-flex .need-center h3 {
  font-size: 30px;
  margin-bottom: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}
.wrap-4 .container-fluid .full-width #need-flex .need-center h3 a {
  color: #000000;
}
.wrap-4 .container-fluid .full-width #need-flex .need-center ul {
  margin-bottom: 10px;
  padding: 0px;
}
.wrap-4 .container-fluid .full-width #need-flex .need-center ul li {
  padding-bottom: 5px;
  color: #000000 !important;
  font-family: "Playfair Display", serif;
}
.wrap-4 .container-fluid .full-width #need-flex .need-center ul li span {
  color: #000000 !important;
  font-family: "Playfair Display", serif;
}
.wrap-4 .container-fluid .full-width #need-flex .need-center p {
  padding-top: 8px;
  margin-bottom: 16px;
}
.wrap-4 .container-fluid .full-width #need-flex .need-center p a {
  font-size: 11px;
  border-radius: 4px;
  padding: 8px 16px;
  color: #000000 !important;
  font-family: "Playfair Display", serif;
  background: #d20f37;
  transition: all 0.5s ease !important;
}
.wrap-4 .container-fluid .full-width #need-flex .need-center p a:hover {
  background: black !important;
  color: #fff !important;
}

.wrap-5 {
  background: #f3f4f7;
}
.wrap-5 .slider-container {
  max-width: 800px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.wrap-5 .slider-container .slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.wrap-5 .slider-container .slider .slide {
  flex: 0 0 100%;
  height: 400px;
  background-size: cover !important;
  background-position: center !important;
}
.wrap-5 .slider-container .slider .slide-active {
  transform: translateX(0);
}
.wrap-5 .slider-container button {
  font-size: 30px;
  color: #fd7792;
  background-color: transparent;
  position: absolute;
  border: none;
}
.wrap-5 .slider-container .prev {
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}
.wrap-5 .slider-container .next {
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
.wrap-5 h2 {
  text-align: center;
  font-size: 54px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Playfair Display", serif !important;
  margin-bottom: 50px;
}

.wrap-6 {
  background: #f3f4f7;
}
.wrap-6 img {
  border-radius: 2px;
  width: 100%;
  height: 600px;
  object-fit: cover;
  margin-bottom: 24px;
}
.wrap-6 h2 {
  margin-bottom: 8px;
  line-height: 1.5;
  color: #000;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  font-size: 31px;
}
.wrap-6 p {
  font-family: sans-serif;
  margin-bottom: 28px;
  font-size: 12px;
  font-weight: 400;
}
.wrap-6 .content-hed h2 {
  color: #000000;
  font-family: "Playfair Display", serif;
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 8px;
}
.wrap-6 .emoji {
  margin-right: 16px;
}
.wrap-6 .emoji .radius {
  display: inline-block;
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
  background: #d20f37;
  text-align: center;
  transition: all 0.4s ease;
}
.wrap-6 .emoji .radius:hover {
  background: black;
  opacity: 0.4;
}
.wrap-6 .emoji .radius i {
  font-size: 28px;
  color: #fff;
  margin-top: 18px;
}
.wrap-6 .content-icons h3 {
  font-weight: 500;
  font-family: sans-serif;
  line-height: 1.5;
  color: #000;
  font-size: 18px;
  margin-bottom: 8px;
}
.wrap-6 .content-icons p {
  font-family: sans-serif;
  margin-bottom: 28px;
  font-size: 12px;
  font-weight: 400;
}

.wrap-7 {
  padding: 60px 0;
  background-image: url(../img/full-width-section.jpg) !important;
  position: relative;
}
.wrap-7::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0%;
  content: "";
  background: #d20f37;
  opacity: 0.4;
}
.wrap-7 .booking-text {
  position: relative !important;
  z-index: 1;
  text-align: center;
}
.wrap-7 .booking-text h2 {
  font-family: "Playfair Display", serif;
  line-height: 1.5;
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 8px;
}
.wrap-7 .booking-text p {
  margin-bottom: 24px;
  font-family: sans-serif;
  color: #fff;
  word-spacing: 4px;
  text-align: center;
  font-weight: bold !important;
}
.wrap-7 .booking-text p a {
  background: #d20f37;
  border: 1px solid #d20f37;
  color: #fff;
  box-shadow: none !important;
  font-size: 11px;
  letter-spacing: 3px;
  border-radius: 4px;
  padding: 12px 24px;
  font-weight: 400;
  transition: all 0.4s ease;
}
.wrap-7 .booking-text p a:hover {
  background: transparent;
}
.wrap-7 .booking-text p #white-btn {
  background: #fff;
  border: 1px solid #fff;
  color: #000000;
}
.wrap-7 .booking-text p #white-btn:hover {
  background: transparent;
}

.wrap-8 {
  background: #f3f4f7;
}
.wrap-8 .text-heading {
  text-align: center;
  padding-bottom: 48px;
  margin-bottom: 16px;
}
.wrap-8 .text-heading h2 {
  font-size: 54px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Playfair Display", serif !important;
  margin-bottom: 10px;
}
.wrap-8 .text-heading span {
  font-size: 12px;
  font-weight: 700;
  font-family: "Poppins", Arial, sans-serif;
  color: #d20f37;
  letter-spacing: 2px;
}
.wrap-8 .card-blog {
  padding: 20px;
  box-shadow: 0px 10px 27px -9px rgba(0, 0, 0, 0.5);
  background: #fff;
  overflow: hidden;
}
.wrap-8 .card-blog .image-overflow {
  overflow: hidden;
}
.wrap-8 .card-blog .image-overflow img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.wrap-8 .card-blog .image-overflow img:hover {
  scale: 1.3;
}
.wrap-8 .card-blog .card-blog-text {
  text-align: center;
  padding: 24px 16px;
}
.wrap-8 .card-blog .card-blog-text h3 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 8px;
}
.wrap-8 .card-blog .card-blog-text .span-need {
  margin-bottom: 8px;
}
.wrap-8 .card-blog .card-blog-text .span-need span {
  font-size: 16px;
  font-family: sans-serif;
  color: #d20f37;
  font-weight: 400;
}

.wrap-9 {
  padding-top: 30px;
  background: #272727;
}
.wrap-9 .top-footer h2 {
  margin-bottom: 30px;
  font-size: 23px;
  font-weight: 400;
  font-family: sans-serif;
  line-height: 1.5;
}
.wrap-9 .top-footer h2 a {
  color: #fff;
}
.wrap-9 .top-footer .vacation-rental h2 a {
  color: #fff;
}
.wrap-9 .top-footer .vacation-rental p {
  margin-bottom: 16px;
  color: #fff;
  font-family: sans-serif;
}
.wrap-9 .top-footer .vacation-rental a {
  font-family: sans-serif;
  color: #d20f37;
}
.wrap-9 .top-footer .services ul li a {
  color: #fff;
  padding-bottom: 4px;
  padding-top: 4px;
  font-family: sans-serif;
}
.wrap-9 .top-footer .tag-cloud .btn-group a {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  text-transform: uppercase;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  font-size: 11px;
  font-family: sans-serif;
  transition: all 0.4s ease !important;
}
.wrap-9 .top-footer .tag-cloud .btn-group a:hover {
  background: #d20f37;
  border: 1px solid white;
  color: #000;
  font-weight: bold;
}
.wrap-9 .subscribe form .email-add {
  width: 190px;
  transition: all 0.3s ease-in-out;
}
.wrap-9 .subscribe form .email-add:hover input {
  background: #d20f37 !important;
}
.wrap-9 .subscribe form .email-add:hover ::placeholder {
  color: #fff;
}
.wrap-9 .subscribe form .email-add:hover button {
  background: #fff !important;
}
.wrap-9 .subscribe form .email-add:hover i {
  color: #000 !important;
}
.wrap-9 .subscribe form .email-add input {
  width: 186px;
  padding: 6px 12px;
  background: rgba(255, 255, 255, 0.05) !important;
  border: none !important;
  outline: none !important;
  color: #fff !important;
  font-size: 16px;
  border-radius: 0;
  height: 52px !important;
  transition: all 0.3s ease-in-out;
}
.wrap-9 .subscribe form .email-add button {
  border-radius: 2px;
  padding: 6px 12px;
  font-size: 16px;
  background: #d20f37 !important;
  border: none;
  color: #fff !important;
  transition: all 0.5s ease-in-out;
}
.wrap-9 .subscribe form h2 {
  margin-top: 48px;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
.wrap-9 .subscribe form ul {
  margin-bottom: 16px;
}
.wrap-9 .subscribe form ul li {
  margin-right: 10px;
}
.wrap-9 .subscribe form ul li a {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  height: 40px;
  width: 40px;
  position: relative;
  transition: all 0.4s ease !important;
}
.wrap-9 .subscribe form ul li a:hover {
  background: #d20f37;
  border: 1px solid #fff;
  color: #000;
}
.wrap-9 .subscribe form ul li a i {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrap-9 .bottom-footer {
  background: #1a1a1a;
  margin-top: 30px;
  padding: 30px 0px;
}
.wrap-9 .bottom-footer .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrap-9 .bottom-footer .content p {
  color: #fff;
}
.wrap-9 .bottom-footer .content p a {
  color: #fff;
}
.wrap-9 .bottom-footer .content p i {
  color: #fff;
}
.wrap-9 .bottom-footer .content .last-content a {
  font-family: sans-serif;
  margin-right: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.col-m-3 {
  display: none;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
  .col-m-3 {
    display: block;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-m-4 {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }
  .col-m-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-m-8 {
    flex-basis: 66.66%;
    max-width: 66.66%;
  }
  .col-m-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .wrap-1 .header .p-logo .logo {
    padding: 10px;
  }
  .wrap-1 .header .p-logo .logo a {
    font-size: 23px;
  }
  .wrap-1 .header .p-logo .logo span {
    font-size: 17px;
  }
  .wrap-1 .header .parent-ham .hamburger {
    position: absolute;
    top: 12px;
    right: 19px;
    display: flex;
    flex-direction: column;
  }
  .wrap-1 .header .parent-ham .hamburger .bar {
    display: inline-block;
    background-color: #d20f37;
    width: 25px;
    height: 3px;
    margin-bottom: 7px;
    transition: all 0.5s ease-in-out;
  }
  .wrap-1 .header .parent-ham .close .b1 {
    transform: translateY(10px) rotate(45deg);
  }
  .wrap-1 .header .parent-ham .close .b2 {
    opacity: 0;
  }
  .wrap-1 .header .parent-ham .close .b3 {
    transform: translateY(-10px) rotate(-45deg);
  }
  .wrap-1 .header .parent-ham .collapse {
    transition: all 0.5s ease-in-out;
    background: #d20f37;
    position: fixed;
    top: 45.5px;
    width: 100%;
    left: -100%;
  }
  .wrap-1 .header .parent-ham .collapse nav ul {
    flex-direction: column;
  }
  .wrap-1 .header .parent-ham .collapse nav ul li a {
    padding: 5px 0;
    display: block;
    color: #fff;
  }
  .wrap-1 .header .parent-ham .active {
    left: 0;
  }
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
  .order3 {
    order: 3;
  }
  .order4 {
    order: 4;
  }
  .order5 {
    order: 5;
  }
  .order6 {
    order: 6;
  }
  .order7 {
    order: 7;
  }
  .order8 {
    order: 8;
  }
  .wrap-2 .hero-text h1 {
    font-size: 50px;
  }
  .wrap-3 .card {
    margin-bottom: 10px;
  }
  .wrap-3 .card .card-text h2 {
    font-size: 20px;
  }
  .wrap-4 .container-fluid .heading-2 h2 {
    font-size: 47px;
  }
  .wrap-4 .container-fluid .full-width .both-width {
    width: 50% !important;
  }
  .wrap-4 .container-fluid .full-width .both-width img {
    height: 336.8px;
    object-fit: cover;
  }
  .wrap-4 .container-fluid .full-width #need-flex .need-center {
    padding: 13px;
  }
  .wrap-5 h2 {
    font-size: 35px;
  }
  .wrap-7 .booking-text h2 {
    font-size: 50px;
  }
  .wrap-8 .text-heading h2 {
    font-size: 35px;
  }
  .wrap-8 .card-blog {
    margin-bottom: 10px;
  }
  .wrap-8 .card-blog .image-overflow img {
    height: 250px;
    object-fit: cover;
  }
  .wrap-8 .card-blog .card-blog-text {
    padding: 15px;
  }
  .wrap-8 .card-blog .card-blog-text h3 {
    font-size: 18px;
  }
  .wrap-9 h2 {
    margin-bottom: 5px !important;
  }
  .wrap-9 .bottom-footer {
    padding: 15px 0;
  }
  .wrap-9 .bottom-footer .content {
    flex-direction: column;
    justify-content: center;
  }
  .wrap-9 .bottom-footer .content p {
    text-align: center;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 460px) {
  .wrap-mp-p {
    padding: 20px 0;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .col-mp-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-mp-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-m-3 {
    display: none;
  }
  .wrap-1 .header .p-logo .logo a {
    font-size: 18px;
  }
  .wrap-1 .header .p-logo .logo span {
    font-size: 14px;
  }
  .wrap-2 .hero-text h1 {
    font-size: 30px;
  }
  .wrap-4 .container-fluid .heading-2 h2 {
    font-size: 30px;
  }
  .wrap-4 .container-fluid .full-width .both-width {
    width: 100% !important;
    border-bottom: 1px solid black;
  }
  .wrap-6 .img-content img {
    height: 370px;
    object-fit: cover;
  }
  .wrap-6 .img-content h2 {
    font-size: 18px;
  }
  .wrap-6 .content-hed h2 {
    font-size: 30px;
  }
  .wrap-7 .booking-text h2 {
    font-size: 35px;
  }
  .wrap-8 .text-heading h2 {
    font-size: 25px;
  }
  .wrap-9 .top-footer .vacation-rental p {
    margin-bottom: 0;
  }
}